@import url('https://fonts.googleapis.com/css?family=Lobster');

.kairopy {
	background: black !important;
	color: #009687 !important;
}

svg{
	color: #009687 !important;
	fill: #009687 !important;
}

h1{
	color: #009687 !important;
	font-family: 'Lobster', cursive;
	font-size: 33px;
}

.center{
	text-align: left;
}
